@model MovieWeb.Data.ApiClasses.MovieJsonMap

@{
    ViewData["Title"] = "Movie details";
}

<style>
    .body-row {
        padding: 20px 10px;
        max-height: fit-content;
        padding-bottom:0 ;
    }

    .body-col {
        margin: 0;
        padding: 0;
    }

    .body-col .card {
        min-width: 80vw;
    }

    .body-card {
        min-width: 100%;
    }
    
    .modal{
        height: 100%;
    }

    .modal-dialog {
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        height: 80vh;
        min-width: 70vw;
    }
</style>

@* <script type="text/javascript">
    $('#exampleModalCenter').on('hidden.bs.modal', function () {
        callPlayer('yt-player', 'stopVideo');
    });
</script> *@

<div class="body-row row">
    <div class="body-col col-md-8 offset-2">
        <div class="card mb-12">
            <div class="body-card row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                        <h5 class="card-title">
                                @Model.title
                        </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="@Model.backdrop_path" width="100%" alt="@Model.title">
                </div>
                <div class="col-md-6">
                    <div class="card-body row">
                        <p class="card-text">@Model.overview</p>
                        <p class="card-text col-md-3">
                            <b>Cinema: </b>
                            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.id">
                                Sample Cinema
                            </a>
                        </p>
                        <p class="card-text col-md-3">
                            <b>Producer: </b>
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.id">
                                Sample Cinema
                            </a>
                        </p>
                        <p class="card-text col-md-3"><b>Category: </b>@Model.genres.ElementAt(0).name</p>
                        <p class="card-text col-md-6 "><b>Release Date: </b>@{var r = Model.release_date == null ? "Not yet released" : Model.release_date;  @r} </p>
                        <p class="card-text col-md-6"><b>Ratings: </b>@Model.vote_count</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @Model.status
                        </p>
                        <div class="row">


                                @*@foreach (var prov in Model.providers.results.US.flatrate)
                                    {
                                    {
                                    var image = $"https://image.tmdb.org/t/p/w500/{prov.logo_path}";

                                    <div class="column text-center">
                                    <img class="border-info rounded-circle" src="@image" style="max-width: 150px" />
                                    <br />
                                    <a >@prov.provider_name</a>
                                    </div>

                                    }
                                    }*@
                        </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <div class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            <button type="button" class="btn btn-primary" data-toggle="modal"   data-target="#exampleModalCenter" id="btn-watch">
                                Watch
                            </button>
                            
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">@Model.title</h5>
                                            <button id="myClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe id="yt-player" src="https://www.youtube.com/embed/@Model.videos.results.ElementAt(0).key?autoplay=0&enablejsapi=1"
                                            allow="autoplay"
                                                frameborder="0" width="100%" height="100%"></iframe>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="myClose2" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <script type="text/javascript">
    $('#exampleModalCenter').on('hidden.bs.modal', function () {
        callPlayer('yt-player', 'stopVideo');
    });
</script> *@

<script>
    const close = document.getElementById("myClose");
    const close2 = document.getElementById("myClose2");
    const frame = document.getElementById("yt-player");
    const watch = document.getElementById("btn-watch");
    const modal = document.getElementById("exampleModalCenter");


    watch.addEventListener("click", ()=>{
        frame.setAttribute("src", "https://www.youtube.com/embed/@Model.videos.results.ElementAt(0).key?autoplay=1&enablejsapi=1");
    });

    close.addEventListener("click",()=>{
        frame.setAttribute("src", "")
    });

    close2.addEventListener("click",()=>{
        frame.setAttribute("src", "")
    });

    
    
</script>


<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button> *@

<!-- Modal -->
@* <div class="modal fade h-75" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="https://www.youtube.com/embed/@Model.videos.results.ElementAt(0).key?autoplay=1"
                    frameborder="0" width="100%" height="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> *@